.title
{
    margin-right: 0px;
    margin-left: 300px;
    padding:5px;
}
html{
    background-image: url(http://bgfons.com/upload/gold_texture488.jpg)

}
.text{
    font-size: 30px;
    font-family: Ariel;

}
